@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;600&display=swap');

.card {
    margin-top: 20px;
    background: rgb(221, 221, 221);
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card .details {
    margin: 30px;
    font-size: 35px;
}

.card .details .h2 {
    font-weight: 600;
    color: black;
    padding: 25px;
}

.card .details .p {
    font-weight: 300;
    color: black;
}